In questo Jupyter Notebook verranno aggiunte le colonne "Anno","Mese","Ora", "Giorno" e "Giorno_Settimana".
In seguito verrà creato un file di tipo SQlite per poterlo utilizzare in un database di tipo SQlite

In [10]:
import pandas as pd
from datetime import datetime

In [41]:
ecommerce= pd.read_csv('C:/Users/glori/OneDrive/Desktop/ecommerce.csv/sportit.csv', sep=";", encoding='latin-1')

Trasformo la colonna "data" in formato date.
La maggior parte sono di tipo "%Y-%m-%d %H:%M:%S.%f" ma quelle con lunghezza 19 solo di tipo "%Y-%m-%d %H:%M:%S"

In [42]:
for i in range(len(ecommerce)):
    if (len(ecommerce.iloc[i,6])==19):
        ecommerce.iloc[i,6]=datetime.strptime(ecommerce.iloc[i,6], "%Y-%m-%d %H:%M:%S")
    else:
        ecommerce.iloc[i,6]=datetime.strptime(ecommerce.iloc[i,6], "%Y-%m-%d %H:%M:%S.%f")

Creo la colonna "Anno","Mese","Ora","Giorno","Giorno_Settimana"

In [43]:
for i in range(len(ecommerce)):
    ecommerce.loc[i,"Anno"]=ecommerce.iloc[i,6].strftime('%Y')
    ecommerce.loc[i,"Mese"]=ecommerce.iloc[i,6].strftime('%m')
    ecommerce.loc[i,"Giorno"]=ecommerce.iloc[i,6].strftime('%d')
    ecommerce.loc[i,"Giorno_Settimana"]=ecommerce.iloc[i,6].strftime('%A')
    ecommerce.loc[i,"Ora"]=ecommerce.iloc[i,6].strftime('%H:%M:%S')

In [44]:
ecommerce.head()

,id,marchio,descrizione,settore,qta,prezzo,data,Anno,Mese,Giorno,Giorno_Settimana,Ora
0,37586,Protest,Pantalone imbottito,Snowboard,1,408.870,2015-04-24 12:32:12.002000,2015,04,24,Friday,12:32:12
1,43076,Nike,Neutre,Running,1,582.330,2015-06-22 23:43:55.520000,2015,06,22,Monday,23:43:55
2,36396,Nike,Pallone,Calcio,1,103.250,2015-04-11 02:10:58.754000,2015,04,11,Saturday,02:10:58
3,39259,Skechers,Scarpa,Fitness,1,329.987,2015-05-14 20:30:03.789000,2015,05,14,Thursday,20:30:03
4,41154,Adidas,Pantaloncino ufficiale,Calcio,1,45.430,2015-06-05 12:39:46.346000,2015,06,05,Friday,12:39:46

Cancello i dati nel file csv e inserisco quelli nuovi

In [48]:
import csv


# Definisci il percorso del file CSV esistente
percorso_file = 'C:/Users/glori/OneDrive/Desktop/ecommerce.csv/sportit.csv'

# Apri il file CSV in modalità scrittura e cancella i dati
with open(percorso_file, 'w', newline='') as file_csv:
    writer = csv.writer(file_csv)  # Creazione del writer CSV
    writer.writerow([])  #

ecommerce.to_csv('C:/Users/glori/OneDrive/Desktop/ecommerce.csv/sportit.csv')

Trasformo il file csv in formato sqlite per poterlo utilizzare in un database SQlite

In [49]:
import sqlite3

# Definisci il percorso del file CSV e del database SQLite
percorso_file_csv = 'C:/Users/glori/OneDrive/Desktop/ecommerce.csv/sportit.csv'
percorso_database_sqlite = 'C:/Users/glori/OneDrive/Desktop/ecommerce.csv/ecommerce.sqlite'

# Carica i dati dal file CSV in un DataFrame pandas
dataframe = pd.read_csv(percorso_file_csv)

# Crea una connessione al database SQLite
connessione = sqlite3.connect(percorso_database_sqlite)

# Salva il DataFrame nel database SQLite
dataframe.to_sql('ecommerce', connessione, if_exists='replace', index=False)

# Chiudi la connessione al database
connessione.close()